# Virtual environments
venv*/
venv314/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data lake - never commit raw or processed data
data/bronze/*
data/silver/*
data/gold/*
data/db/*
!data/reference/*

# Large files
*.parquet
*.duckdb
*.db
# Allow everything in reference folder (overrides the *.parquet rule)
!data/reference/
!data/reference/**

# Logs
.log